<%= form_with(model: users_book) do |form| %>
  <% if users_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_book.errors.count, "error") %> prohibited this users_book from being saved:</h2>

      <ul>
        <% users_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.number_field :book_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
